/*a:hover {                   pseudo-class selector
    color:rebeccapurple;    mouse hovering시 해당 color로 표시
}*/

html{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    /*앞에서부터 탐색. 고로 보통 맨 뒤에는 general font(?)를 둠*/
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;     /* ? */
    letter-spacing: 1px;    /* ? */
}

html {
    background-color: #00539F;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black; /*의미?*/
}

img {
    display: block; /*inline -> block*/
    margin: 0 auto;
}
/* em? 상위요소기준 rem?최상위요소(html)기준*/
/*padding, margin의 values 개수에 따른 의미*/
